---
---
$blue: #4a7bad;
$green: #77931a;
$yellow: #f6b241;
$red: #7d1e19;

$primary: $red;
$link: $blue;
$info: $green;
$success: $green;
$warning: $yellow;
$danger: $red;
$scheme-main: #fffdee;

.is-transparent {opacity:.8;}
.is-not-transparent {opacity: 1;}
.dumbotron {
  background-attachment: fixed;
  background-image: url("/assets/images/chi.jpg");
  background-size: cover;
  border-bottom: 1px solid #301b11;
  border-top: 1px solid #301b11; }
.dumbotron .highlight-1 .callout {
  padding-top: 0; }
.dumbotron .highlight-1 a.callout {
  display: block; }
.dumbotron .highlight-1 p {
  color: #fff;
  font-size: 110%; }
.dumbotron .highlight-2 {
  background-color: rgba(48, 27, 17, 0.7);
  color: #fff;
  margin: 1.8em 0 2em;
  padding-top: 1em; }
.dumbotron h2,
.dumbotron h3,
.dumbotron h4,
.dumbotron h5,
.dumbotron h6 {  color: #fff; }
.hero.dumbotron.is-primary .title {color: $red;}
.hero.dumbotron.is-primary .subtitle {color: $red; opacity:.8;}

h1.site-name a {
    -webkit-text-fill-color: rgba(125,30,25,0.75);
    -webkit-text-stroke-color: #7d1e19;
    -webkit-text-stroke-width: 1px;
    color: #7d1e19;
}
.post-header {
  //border-bottom: 1px solid $blue;
}
.left {
  float: left;
  padding-right: 2em;
}
.intertext {color: $danger; font-style: italic;}
// Import Main CSS file from theme
@import "main";
